<!-- <ul>
    <li *ngFor="let gif of Resultados">
        {{gif.title}}
    </li>
</ul> -->
<div class="row">
    <div *ngFor="let gif of Resultados"
     class="col-md-4 col-sn-6">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <img class="card-img-top" [src]="gif.images.downsized_medium.url" alt="">
                </div>
                <p class="card-text">
                   {{gif.title}}
                </p>
            </div>
        </div>
    </div>
</div>